<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/misanuncios/{{codvet}}" *ngIf="codvet">
      </ion-back-button>
      <ion-title>Modificar anuncio</ion-title>
      <ion-toggle slot="end" [checked]="estado" *ngIf="codvet" (ionChange)="cambiarEstado($event,codanuncio)">
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <div class="container-imagen">
          <img [src]="imagen" appImagen alt="imagen de anuncio" *ngIf="!urlImage">
          <img [src]="urlImage | async" alt="usuario" *ngIf="urlImage | async">
          <ion-progress-bar [value]="uploadPercent | async" *ngIf="uploadPercent"></ion-progress-bar>
          <div class="fileUpload botonImagen">
            <span>Modificar Imagen</span>
            <input type="file" class="upload" size="3000" accept=".png, .jpg" (change)="uploadFile($event)"/>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <form [formGroup]="formulario" *ngIf="codvet">
          <ion-list>
            <ion-list-header>
              <h3>Modificar Anuncio</h3>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">Titulo</ion-label>
              <ion-input formControlName="titulo"></ion-input>
            </ion-item>
            <small class="mensajeError" *ngIf="this.formulario.get('titulo').touched">{{getError('titulo')}}</small>
            <ion-item>
              <ion-label position="floating">Detalle</ion-label>
              <ion-textarea formControlName="texto" autoGrow="true"></ion-textarea>
            </ion-item>
            <small class="mensajeError" *ngIf="this.formulario.get('texto').touched">{{getError('texto')}}</small>
            <br>
            <ion-button shape="round" size="block" (click)="actualizar()" [disabled]="formulario.invalid">
              Actualizar
            </ion-button>
          </ion-list>
        </form>
        <input type="hidden" #ImageAnuncio [value]="urlImage | async">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>